{% extends 'base.html' %}

{% block body %}
<div class="content">
    <<h1 style="text-align: center">Papildyti</h1>

    <form action="/add" method="POST">
        <label for="vehicle">Transporto priemonė:</label>
        <input id="vehicle" name="vehicle" type="text">
        <label for="content">Atliktas darbas:</label>
        <input id="content" name="content" type="text">
        <label for="completed">TP Kilometražas:</label>
        <input id="completed" name="completed" type="text">
        <input type="submit" value="Pridėti">
    </form>
    {% endblock %}
</div>
