{% extends 'base.html' %}

{% block body %}
<div class="content">
    <<h1 style="text-align: center">Atnaujinti</h1>

    <form action="/update/{{task.id}}" method="POST">
        <label for="vehicle">Transporto priemonė:</label>
        <input id="vehicle" name="vehicle" type="text" value="{{task.vehicle}}">
        <label for="content">Atliktas darbas:</label>
        <input id="content" name="content" type="text" value="{{task.content}}">
        <label for="completed">TP Kilometražas:</label>
        <input id="completed" name="completed" type="text" value="{{task.completed}}">
        <input type="submit" value="Atnaujinti">
    </form>
    {% endblock %}
</div>